h1 {
    text-align: center;
    color: whitesmoke;
    background-color: darkblue;
}

h2 {
    text-align: center;
}

li {
    text-align: center;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}

div img {
    align-content: stretch;
}

img {
    display: inline-block;
    vertical-align: top;
}